.container{
   display: flex;
   margin-top:1px ;
   flex-direction: column;
  place-items: center;
}
input{
  border-radius: 15px;
  font-size: medium;
  padding-left: 5px;
  margin: 5px;
}
label{
  font-size: large;
}
button {
  border-radius: 8px;
  border: 1px solid ;
  padding: 0.1em 1.0em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 5px;
  display: inline;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
